name: Mirror to SHAJON-404

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to SHAJON-404
        run: |
          git remote add mirror https://SHAJON-404:${{ secrets.MIRROR_TOKEN }}@github.com/SHAJON-404/iOS-Facebook-SSL-Pinning-Bypass.git
          git push --mirror mirror
